<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  	<h1>Spoilers for <%= media.title %>:</h1>

    <% if(media.spoilers.length > 0) { %>
      <ul>
        <% for(var i=0; i < media.spoilers.length; i++) { %>
          <li><%= media.spoilers[i] %></li>
        <% } %>
      </ul>
    <% } else { %>
      <p><%= media.title %> has no spoilers :(</p>
    <% } %>

    <p>
      <a href="media/spoiler">Click here</a> to add a spoiler for <%= media.title %>
    </p>
  </body>
</html>