<% page.title = media.title + '\'s Spoilers' %>


<% include ../layouts/header %>

<main>
	<h1><%= media.title %>:</h1>

  <section id="spoiler-list">
    <h2>Spoilers:</h2>
    <% if(spoilers.length > 0) { %>
      <ul>
        <% for(var i=0; i < spoilers.length; i++) { %>
          <li>
            <form action="/spoiler/<%= spoilers[i]._id %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <%= spoilers[i].text %> - <input type="submit" value="Remove"/>
            </form>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p><%= media.title %> has no spoilers :(</p>
    <% } %>

    <p>
      <a href="<%= media._id %>/spoiler">Click here</a> to add a spoiler for <%= media.title %>
    </p>
  </section>
</main>

<% include ../layouts/footer %>